.about {
  padding-top: 2rem;
}

.content-background {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90rem;
  margin-inline: auto;
  @include breakpoint-down(small) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  @include breakpoint-down(xsmall) {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}

.space {
  margin-top: 3rem;
}

.content-wrapper {
  width: 100%;
  background-color: var(--bg-color-box);
  color: var(--font-color);
  &.border-radius {
    border-radius: 10px;
  }
  &.first-div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 1rem;
  }
  &.middle-div {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  &.lastdiv {
    padding-top: 0rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @include breakpoint-up(small) {
    margin: 0px 40px;
    padding: 20px 40px;
  }
  @include breakpoint-down(small) {
    padding: 3rem 20px;
  }
  @include breakpoint-down(xsmall) {
    padding: 10px 10px;
  }
}

.line {
  border: 1px solid var(--bg-color-main);
  background-color: var(--bg-color-main);
  border-radius: 5px;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.padding-right {
  padding-right: 3rem;
  @include breakpoint-down(small) {
    padding-right: 0;
  }
}

padding-left {
  padding-left: 3rem;
  @include breakpoint-down(small) {
    padding-right: 0;
  }
}

.main-content {
  font-size: $font-lrgmed;
  font-weight: 300;
  @include breakpoint-down(small) {
    font-size: $font-lrg;
    text-align: center;
  }
  &.mb {
    margin-bottom: 48px;
    @include breakpoint-down(small) {
      margin-bottom: 36px;
      font-size: $font-med;
    }
  }
}

.certification {
  margin: 1em 0;
}

.sub-content {
  font-size: $font-medlrg;
  text-indent: 4rem;
  @include breakpoint-down(small) {
    font-size: $font-med;
    padding: 10px;
  }
}

span.sub-content {
  padding: 0;
}

.header-text {
  display: flex;
  justify-content: center;
  font-size: $font-xxlg;
  color: var(--font-color);
  font-weight: 400;
  margin: 1rem;
  text-transform: uppercase;
  text-align: center;
  @include breakpoint-down(small) {
    font-size: $font-lrgmed;
  }
}

.img-container {
  display: inline;
  @include breakpoint-down(medium) {
    display: flex;
    justify-content: center;
  }
}
.wide-img-container {
  display: flex;
  justify-content: center;
  @include breakpoint-up(large) {
    display: inline;
  }
}

.img {
  border-radius: 1.11111111rem;
  max-width: 100%;
  width: auto;
  max-height: 25.5rem;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1.25rem;

  &.right {
    margin-left: 1.25rem;
    margin-bottom: 2rem;
    float: right;
    @include breakpoint-down(medium) {
      float: none;
      margin-left: 0;
    }
  }
  &.left {
    margin-right: 2.5rem;
    float: left;
    @include breakpoint-down(medium) {
      float: none;
      margin-right: 0;
    }
  }
  &.wide {
    max-width: 100%;
    max-height: 25rem;
    height: auto;
    width: auto;
    margin-top: 0;
    @include breakpoint-down(large) {
      margin: 0;
    }
  }
}
