.about {
  padding-top: 2rem;
}

.contentbg {
  display: flex;
  flex-wrap: wrap;
}

.space {
  margin-top: 3rem;
}

.contentdiv {
  background-color: $white;
  width: 100vw;
  &.br {
    border-radius: 10px;
  }
  &.firstdiv {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 1rem;
  }
  &.middlediv {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  &.lastdiv {
    padding-top: 0rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @include breakpoint-up(small) {
    margin: 0px 40px;
    padding: 20px 40px;
  }
  @include breakpoint-down(small) {
    padding: 3rem 20px;
  }
  @include breakpoint-down(xsmall) {
    padding: 10px 10px;
  }
}

.line {
  border: 1px solid $lightgray;
  border-radius: 5px;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.pr {
  padding-right: 3rem;
  @include breakpoint-down(small) {
    padding-right: 0;
  }
}

.pl {
  padding-left: 3rem;
  @include breakpoint-down(small) {
    padding-right: 0;
  }
}

.main-content {
  font-size: $font-lrgmed;
  font-weight: 300;
  @include breakpoint-down(small) {
    font-size: $font-lrg;
    text-align: center;
  }
  &.mb {
    margin-bottom: 48px;
    @include breakpoint-down(small) {
      margin-bottom: 36px;
      font-size: $font-med;
    }
  }
}

.sub-content {
  font-size: $font-lrg;
  text-indent: 4rem;
  @include breakpoint-down(small) {
    font-size: $font-med;
    padding: 10px;
  }
}

.header-text {
  display: flex;
  justify-content: center;
  font-size: $font-xlg;
  font-weight: 400;
  color: $black;
  margin: 1rem;
  text-transform: uppercase;
  @include breakpoint-down(small) {
    font-size: $font-lrgmed;
  }
}

.imgcontainer {
  display: inline;
  @include breakpoint-down(medium) {
    display: flex;
    justify-content: center;
  }
}
.wideimgcontainer {
  display: inline;
  @include breakpoint-down(large) {
    display: flex;
    justify-content: center;
  }
}
.img {
  border-radius: 1.11111111rem;
  max-width: 100%;
  width: auto;
  max-height: 28.5rem;
  height: auto;
  margin-top: 0;
  margin-bottom: 1.25rem;

  &.right {
    margin-left: 1.25rem;
    margin-bottom: 2rem;
    float: right;
    @include breakpoint-down(medium) {
      float: none;
      margin-left: 0;
    }
  }
  &.left {
    margin-right: 2.5rem;
    float: left;
    @include breakpoint-down(medium) {
      float: none;
      margin-right: 0;
    }
  }
  &.wide {
    max-width: 100%;
    max-height: 25rem;
    height: auto;
    width: auto;
    @include breakpoint-down(large) {
      margin: 0;
    }
  }
}

.skills {
  padding-top: 40px;
  margin-top: -40px;
}

.skills-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
}

.skills-grid-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-icon {
  border-radius: 5px;
  height: 5rem;
  width: auto;
}

.buttonsigndiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.signature {
  font-family: "Corinthia", cursive;
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem 0;
  @include breakpoint-down(small) {
    font-size: $font-lrg;
  }
}
