// Overlay animation //////////////////////////////////////////////////////////////////////////////////////////////////
@keyframes slide-in {
  0% {
    visibility: hidden;
    transform: translateX(-130%);
  }
  1% {
    visibility: visible;
    transform: translateX(-130%);
  }
  100% {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  99% {
    transform: translateX(-130%);
    visibility: visible;
  }
  100% {
    transform: translateX(-130%);
    visibility: hidden;
  }
}

@keyframes slide-in-top {
  0% {
    visibility: hidden;
    transform: translateY(-130%);
  }
  1% {
    visibility: visible;
    transform: translateY(-130%);
  }
  100% {
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    visibility: visible;
  }
  99% {
    transform: translateY(-130%);
    visibility: visible;
  }
  100% {
    transform: translateY(-130%);
    visibility: hidden;
  }
}

@keyframes simple-fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes simple-fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// Header animation ///////////////////////////////////////////////////////////////////////////////////////////////////
@keyframes header-fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-30rem);
  }
  1% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes subheader-fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20rem);
  }
  1% {
    visibility: visible;
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

// To top arrow animation //////////////////////////////////////////////////////////////////////////////////////////////////
@keyframes arrow {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
