.contact-card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  transform: translateX(-130%);

  @include height-breakpoint-down(small) {
    height: 77.2vh;
  }

  @include height-breakpoint-down(xsmall) {
    height: 67.2vh;
  }

  @media (prefers-reduced-motion: no-preference) {
    &.slide-out {
      animation: slide-out 500ms forwards;

      @include breakpoint-up(medium) {
        animation: slide-out-top 500ms forwards;
      }
    }

    &.slide-in {
      animation: slide-in 1s forwards;

      @include breakpoint-up(medium) {
        animation: slide-in-top 500ms forwards;
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &.slide-out {
      animation: simple-fade-out 500ms forwards;
    }

    &.slide-in {
      animation: simple-fade-in 1s forwards;
    }
  }
}

.contact-card-box {
  cursor: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--semi-transparent);
  max-height: 55vh;
  height: 80%;
  max-width: 58rem;
  margin: 0 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px 1px var(--shadow-color);
  border: 3rem solid transparent;
  border-image: url(../images/border.svg) 100;

  @include breakpoint-up(large) {
    margin-inline: auto;
    border: 5rem solid transparent;
    border-image: url(../images/border.svg) 100;
  }

  @include breakpoint-down(mdsmall) {
    margin: 0 2rem;
    max-height: 50vh;
  }

  @include breakpoint-down(xsmall) {
    border: 2rem solid transparent;
    border-image: url(../images/border.svg) 100;
  }

  @include height-breakpoint-down(mdsmall) {
    margin: 0 4rem;
  }
}

.contact-header {
  text-align: center;
  font-size: $font-lrgmed;
  color: var(--font-color);
  font-weight: 400;
  padding: 0 1rem 2rem 1rem;

  @include breakpoint-down(medium) {
    font-size: $font-medlrg;
  }

  @include breakpoint-down(small) {
    margin-top: 0;
  }

  @include breakpoint-down(xsmall) {
    padding-bottom: 0;
  }

  @include breakpoint-down(xxsmall) {
    font-size: $font-med;
  }

  @include height-breakpoint-down(mdsmall) {
    font-size: $font-med;
    padding-bottom: 0;
    margin-block: 0;
  }
}

.signature-card {
  font-size: $font-xxlg;
  margin: 0;
  padding: 0;

  @include breakpoint-down(medium) {
    font-size: $font-xlg;
  }

  @include breakpoint-down(mdsmall) {
    font-size: $font-lrgmed;
  }

  @include breakpoint-down(xsmall) {
    font-size: $font-lrgr;
  }

  @include breakpoint-down(xxsmall) {
    font-size: $font-medlrg;
  }

  @include height-breakpoint-down(mdsmall) {
    font-size: $font-lrgmed;
  }

  @include height-breakpoint-down(xsmall) {
    font-size: $font-lrg;
  }
}

.horizontal-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25rem;
  padding-right: 1rem;
  padding-left: 1rem;

  @include breakpoint-down(medium) {
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }

  @include breakpoint-down(xxsmall) {
    flex-wrap: wrap;
  }

  @include height-breakpoint-down(mdsmall) {
    width: 15rem;
  }
}

.card-links {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    .card-icon {
      fill: url(#card-cyan);

      &.linkedin {
        box-shadow: $socials-card-shadow;
      }

      &.github {
        box-shadow: $socials-card-shadow;
      }

      &.phone {
        filter: drop-shadow(0 0 0.05rem var(--color-accent-invert))
          drop-shadow(0 0 0.05rem var(--color-accent-invert))
          drop-shadow(0 0 0.4rem $cyan) drop-shadow(0 0 0.5rem $light-cyan);
      }

      &.mail-card {
        filter: drop-shadow(0 0 0.05rem var(--color-accent-invert))
          drop-shadow(0 0 0.05rem var(--color-accent-invert))
          drop-shadow(0 0 0.4rem $cyan) drop-shadow(0 0 0.5rem $light-cyan);
      }
    }
  }
}

.card-icon {
  height: 3.75rem;
  width: 3.75rem;
  margin: 0.5rem;
  fill: var(--icon-card-color);
  transition: filter 150ms ease-in-out, box-shadow 150ms ease-in-out;

  &.linkedin {
    border-radius: 12px;

    @include breakpoint-down(xsmall) {
      border-radius: 9px;
    }
  }

  &.github {
    border-radius: 70px;
  }

  @include breakpoint-down(medium) {
    height: 3rem;
    width: 3rem;
  }

  @include breakpoint-down(xsmall) {
    height: 2.75rem;
    width: 2.75rem;
    margin: 0.375rem;
  }

  @include height-breakpoint-down(mdsmall) {
    height: 3rem;
    width: 3rem;
    margin: 0;
  }
}
