.main-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--semi-transparent);
  width: 100vw;
  height: 5rem;
  top: 0;
  z-index: 1000000;
  box-shadow: 0 0 5px 1px var(--shadow-color);
  backdrop-filter: blur(10px);
}

.desktop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

// Main links /////////////////////////////////////////////////////////////////////////////////////////////
.nav-links {
  position: relative;
  display: flex;
  justify-content: left;
  padding: 20px 20px;
  margin-left: 60px;
  list-style: none;
  @include breakpoint-down(large) {
    margin-left: 30px;
  }
}

.main-links {
  font-size: $font-lrg;
  padding: 10px 25px;
  margin: -7px -25px;
  transition: color 150ms ease-in-out;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 80%;
    height: 4px;
    border-radius: 8px;
    background-image: $gradient-to-right;

    width: 0;
    transform: scaleX(0);

    transition: transform 300ms ease-in-out, width 300ms ease-in-out;
  }
  &.extended::after {
    transform: scaleX(0.4);
    width: 100%;
  }
  &.shortened::after {
    transform: scaleX(0);
    width: 100%;
  }
  &:hover,
  &:focus {
    color: $cyan;
  }
}

.main-links {
  &.shortened,
  &.extended {
    &:hover,
    &:focus {
      &::after {
        transform: none;
        width: 100%;
      }
    }
  }
}

.mail-contact-trigger {
  margin-right: 60px;
  margin-left: auto;
  padding-inline: 20px;
  &:hover,
  &:focus {
    .mail {
      fill: $cyan;
    }
  }
  @include breakpoint-down(large) {
    margin-right: 40px;
  }
}

.mail {
  fill: var(--icon-color);
  padding-top: 5px;
  width: 50px;
  height: 45px;
  transition: visibility 150ms ease-in-out, margin 150ms ease-in-out,
    transform 150ms ease-in-out, padding 150ms ease-in-out,
    fill 150ms ease-in-out;
}

#mailClose {
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
#mailOpen {
  margin-top: 10px;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
