@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    --font-color: #{$darker-gray};
    --font-color-invert: #{$light-gray};

    --cyan: #{$darker-cyan};
    --cyan-invert: #{$cyan};
    --cyan-icons: #{$dark-cyan};

    --bg-color-box: #{$white};
    --bg-color-main: #{$whitish};
    --bg-color-sub: #{$whitish};
    --bg-color-accent: #{$dark-gray};
    --bg-color-accent-2: #{$dark-gray};
    --bg-color-accent-invert: #{$whitish};
    --bg-color-accent-invert-2: #{$white};

    --footer-gradient: #{$footer-gradient-invert};

    --shadow-color: #{$gray};

    --semi-transparent: #{$semi-transparent};

    --icon-color: #{$dark-gray};
    --m-logo-color: url(#m-logo-dark);
    --card-color: url(#card-dark);
    --dorito-color: url(#dorito-dark);
    --linkedin-footer-color: url(#linkedin-footer-light);
    --github-footer-color: url(#github-footer-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #{$white};
    --font-color-invert: #{$darker-gray};

    --cyan: #{$cyan};
    --cyan-invert: #{$dark-cyan};
    --cyan-icons: #{$cyan};

    --bg-color-box: #{$darker-gray};
    --bg-color-main: #{$dark-gray};
    --bg-color-sub: #{$gray};
    --bg-color-accent: #{$whitish};
    --bg-color-accent-2: #{$white};
    --bg-color-accent-invert: #{$dark-gray};
    --bg-color-accent-invert-2: #{$dark-gray};

    --footer-gradient: #{$footer-gradient};

    --shadow-color: #{$gray};

    --semi-transparent: #{$darker-semi-transparent};

    --icon-color: #{$white};
    --m-logo-color: url(#m-logo-light);
    --card-color: url(#card-light);
    --dorito-color: url(#dorito-light);
    --linkedin-footer-color: url(#linkedin-footer-dark);
    --github-footer-color: url(#github-footer-dark);
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Spline Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-top: 5rem;
  letter-spacing: 1px;
  background-color: var(--bg-color-main);

  &.dark-mode {
    --font-color: #{$white};
    --font-color-invert: #{$darker-gray};

    --cyan: #{$cyan};
    --cyan-invert: #{$dark-cyan};
    --cyan-icons: #{$cyan};

    --bg-color-box: #{$darker-gray};
    --bg-color-main: #{$dark-gray};
    --bg-color-sub: #{$gray};
    --bg-color-accent: #{$whitish};
    --bg-color-accent-2: #{$white};
    --bg-color-accent-invert: #{$dark-gray};
    --bg-color-accent-invert-2: #{$dark-gray};

    --footer-gradient: #{$footer-gradient};

    --shadow-color: #{$gray};

    --semi-transparent: #{$darker-semi-transparent};

    --icon-color: #{$white};
    --m-logo-color: url(#m-logo-light);
    --card-color: url(#card-light);
    --dorito-color: url(#dorito-light);
    --linkedin-footer-color: url(#linkedin-footer-dark);
    --github-footer-color: url(#github-footer-dark);
  }

  &.light-mode {
    --font-color: #{$darker-gray};
    --font-color-invert: #{$light-gray};

    --cyan: #{$darker-cyan};
    --cyan-invert: #{$cyan};
    --cyan-icons: #{$dark-cyan};

    --bg-color-box: #{$white};
    --bg-color-main: #{$whitish};
    --bg-color-sub: #{$whitish};
    --bg-color-accent: #{$dark-gray};
    --bg-color-accent-2: #{$dark-gray};
    --bg-color-accent-invert: #{$whitish};
    --bg-color-accent-invert-2: #{$white};

    --footer-gradient: #{$footer-gradient-invert};

    --shadow-color: #{$gray};

    --semi-transparent: #{$semi-transparent};

    --icon-color: #{$dark-gray};
    --m-logo-color: url(#m-logo-dark);
    --card-color: url(#card-dark);
    --dorito-color: url(#dorito-dark);
    --linkedin-footer-color: url(#linkedin-footer-light);
    --github-footer-color: url(#github-footer-light);
  }
}

::selection {
  background: var(--cyan-invert);
}

img,
svg {
  user-select: none;
}

button,
.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

figure {
  margin: 0;
}

@media (hover: hover) and (pointer: fine) {
  html {
    scrollbar-color: $cyan $black;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: $black;
  }

  ::-webkit-scrollbar-thumb {
    background-image: $gradient-to-top;
    border-radius: 5px;

    &:hover {
      background-image: $gradient-to-bottom;
    }
  }
}

:focus {
  border-radius: inherit;
  outline: 2px solid $dark-cyan;
}

::-moz-focus-inner {
  border: 0;
}