@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');

html{
    font-size: 100%;
    box-sizing: border-box;
    background-color: $lightgray;
        // @include breakpoint-up (large){
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
        // position: relative;
        height: 100%;
        // }
}

@supports (scroll-behavior: smooth){
    html{
        scroll-behavior: smooth;
    }
}

*, *::before, *::after{
    box-sizing: inherit;
    
}

body{
    margin: 0px 0px;
    padding: 0px 0px;
    line-height: 1.3;
    font-family: 'Spline Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 80px;
    letter-spacing: 1px;
}

//Parallax
@supports (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d){
    .body{
        // @include breakpoint-up (large){
            -webkit-transform: perspective(1px);
            transform: perspective(1px);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            
        // }

    }
}


::-webkit-scrollbar{
    width: 0.5rem;
        @include breakpoint-down(medium){
            width: 0.25rem;
        }
}

::-webkit-scrollbar-track{
    background: $black;
}

::-webkit-scrollbar-thumb{
    background-image: $gradient-to-top;
    border-radius: 5px;
}

:focus{
    outline: 2px solid $darkcyan;
}

::-moz-focus-inner{
    border: 0;
}
