.home {
  height: 140vh;
  background: linear-gradient(to bottom, transparent 70%, var(--bg-color-main)),
    url("../images/Architecture\ background.webp") no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
}

.heading-text {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.main-text {
  visibility: hidden;
  opacity: 0;
  font-size: $font-xxlg;
  color: var(--font-color);
  font-weight: 400;
  margin: 0;
  padding: 17.5rem 1rem 0 3.75rem;
  animation: header-fade-in 1250ms forwards 500ms;

  @include breakpoint-down(mdsmall) {
    font-size: $font-xlg;
    padding: 16rem 1rem 0 3rem;
  }
  @include breakpoint-down(xsmall) {
    font-size: $font-lrgmed;
    padding-left: 1.875rem;
  }
  @include height-breakpoint-down(mdsmall) {
    padding-top: 6.5rem;
  }
  @include height-breakpoint-down(small) {
    padding-top: 10rem;
  }
  @include height-breakpoint-down(xsmall) {
    padding-top: 4rem;
  }
}
.colored {
  color: var(--cyan);
}
.sub-text {
  position: relative;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  font-size: $font-lrgmed;
  color: var(--font-color);
  font-weight: 300;
  margin: 0;
  padding: 0 0.625rem 0 3.75rem;
  animation: subheader-fade-in 2000ms forwards;
  animation-delay: 1250ms;
  @include breakpoint-down(mdsmall) {
    font-size: $font-lrg;
    padding-left: 3rem;
  }
  @include breakpoint-down(xsmall) {
    font-size: $font-medlrg;
    padding-left: 1.875rem;
  }
}
.svg-container {
  overflow: hidden;
  padding-top: 14rem;
  margin-top: -14rem;
}
.cool-shape {
  margin-top: -15rem;
  transform: translateX(-40rem);
  margin-bottom: -7rem;
}
