// Buttons //////////////////////////////////////////////////////////////////////////////////////////////////
.button {
  padding: 0.625rem 1.875rem;
  font-size: $font-lrg;
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: $white;
  -webkit-border-radius: 12px;
  border-radius: 2.5rem;
  margin-right: 5rem;
  margin-left: auto;
  background-image: $cyan-gradient;
  text-shadow: 1px 1px 2px $dark-gray;

  border-top: 2.5px solid rgb(118, 118, 118);
  border-right: 2.5px solid rgb(33, 33, 33);
  border-bottom: 2.5px solid rgb(33, 33, 33);
  border-left: 2.5px solid rgb(118, 118, 118);

  transition: box-shadow 150ms ease-in-out, text-shadow 300ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: $box-shadow;
    text-shadow: none;
  }

  &.alt {
    margin: 0;
    padding: 10px 20px;

    @include breakpoint-down(mdsmall) {
      margin-top: 1rem;
    }
  }

  &.grid-button {
    @include breakpoint-down(small) {
      font-size: $font-smmed;
    }
  }

  &.dark {
    background: $dark-gradient;
  }

  &.dark-switch {
    background: $dark-gradient-invert;
  }

  &.cyan-switch {
    background: $cyan-gradient-invert;
  }

  &.disabled {
    position: relative;
    border-top: 2.5px solid rgb(118, 118, 118);
    border-right: 2.5px solid rgb(33, 33, 33);
    border-bottom: 2.5px solid rgb(33, 33, 33);
    border-left: 2.5px solid rgb(118, 118, 118);
    text-shadow: none;

    &:focus {
      outline: 2px solid $dark-gray;
    }

    &:hover,
    &:focus {
      cursor: no-drop;
      box-shadow: $box-shadow-disabled;

      &::after {
        content: attr(data-tooltip);
        width: 200%;
        font-size: $font-med;
        color: var(--font-color-invert);
        background: var(--color-accent-2);
        padding: 1rem;
        border-radius: 5px;
        display: inline-block;
        position: absolute;
        transform: translate(-50%, -100%);
        margin: 0 auto;
        min-width: 100px;
        min-width: 150px;
        top: -10px;
        left: 50%;
        text-align: center;

        @include breakpoint-down(small) {
          width: 150%;
        }
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: -8px;
        left: 50%;
        height: 0;
        width: 0;
        border: solid transparent;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: var(--color-accent-2);
        border-width: 5px;
        margin-left: -5px;
        transform: translate(0, 0);
      }
    }
  }

  &.pressed {
    border-top: 2.5px solid rgb(33, 33, 33);
    border-right: 2.5px solid rgb(118, 118, 118);
    border-bottom: 2.5px solid rgb(118, 118, 118);
    border-left: 2.5px solid rgb(33, 33, 33);
  }
}

// Skip-link //////////////////////////////////////////////////////////////////////////////////////////////////

.skip-link-wrapper {
  position: fixed;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  height: 5rem;
  width: 100%;
  margin-top: -5rem;
  background-color: var(--semi-transparent);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 150ms ease-in-out;

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  @media (hover: none) and (pointer: coarse) {
    display: none;
  }
}

.skip-link {
  display: block;
  font-size: $font-med;
  margin: 0;
  box-shadow: $box-shadow;
  text-shadow: 0 0 1px $white;
  transform: translateY(-6rem);
  transition: transform 150ms ease-in-out;
  visibility: inherit;

  &:focus {
    transform: translateY(0);
  }

  @media (hover: none) and (pointer: coarse) {
    display: none;
  }
}

// Sun moon dial ///////////////////////////////////////////////////////////////////////////////////////////////
@include breakpoint-up(xlarge) {
  .view-mode-parent-container {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;

    .view-mode-flex-wrapper {
      display: flex;
      justify-content: flex-end;
      max-width: 80.755rem;
      width: 100%;

      .view-mode-wrapper {
        position: relative;
        width: min-content;
        margin-top: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
  }
}

.view-mode-wrapper {
  position: fixed;
  z-index: 1000;
  padding: 0.8rem;
  margin-top: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--semi-transparent);
  box-shadow: 0 0 5px 1px var(--shadow-color);

  @include breakpoint-down(mdsmall) {
    padding: 0.5rem;
    margin-top: 1rem;
  }
}

.view-mode {
  display: grid;
  place-items: center;
  border-radius: 50%;

  &:hover,
  &:focus {
    .view-mode-disc {
      filter: none;

      #sun {
        fill: $dark-cyan;

        @include breakpoint-down(mdsmall) {
          fill: url(#sun-dial-cyan);
        }
      }

      #moon {
        fill: $cyan;

        @include breakpoint-down(mdsmall) {
          fill: url(#sun-dial-cyan);
        }
      }

      @media (hover: hover) and (pointer: fine) {
        filter: drop-shadow(0 0 0.05rem var(--color-accent))
          drop-shadow(0 0 0.05rem var(--color-accent))
          drop-shadow(0 0 0.05rem var(--color-accent))
          drop-shadow(0 0 0.05rem var(--color-accent))
          drop-shadow(0 0 0.05rem var(--color-accent))
          drop-shadow(0 0 0.15rem var(--color-accent))
          drop-shadow(0 0 0.15rem var(--color-accent))
          drop-shadow(0 0 0.15rem $cyan) drop-shadow(0 0 0.15rem $cyan);
      }
    }
  }
}

.view-mode-disc {
  position: relative;
  fill: var(--icon-color);
  width: 2.2rem;
  height: 2.2rem;
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 600ms cubic-bezier(0.62, 0.22, 0.46, 1.35),
    filter 250ms ease-in-out, scale 600ms ease-in-out;

  @include breakpoint-down(mdsmall) {
    width: 1.875rem;
    height: 1.875rem;
  }
}

#moon,
#sun {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  opacity: 0;
  scale: 1.01;
  transition: opacity 350ms ease-in-out;

  @media (hover: hover) and (pointer: fine) {
    transition: opacity 350ms ease-in-out 250ms, fill 250ms ease-in-out;
  }

  &.show {
    opacity: 1;
  }
}

#moon {
  width: 2.2rem;
  height: 2.2rem;

  @include breakpoint-down(mdsmall) {
    width: 1.875rem;
    height: 1.875rem;
  }
}

// Visibility helper classes ///////////////////////////////////////////////////////////////////////////////////
.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}
