.mobile-container {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 80px;
  top: 0;
  z-index: 2;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: auto;
  padding: 1rem 1rem 1.25rem 1rem;
  &:hover,
  &:focus {
    .home-logo {
      fill: url(#home-logo-cyan);
    }
  }
  @include breakpoint-down(small) {
    margin-left: 0.7rem;
  }
  @include breakpoint-up(mdsmall) {
    margin-left: 1.5rem;
  }
  @include breakpoint-up(small) {
    margin-left: 2.5rem;
  }
}

.home-logo {
  fill: var(--home-logo-color);
  margin-right: auto;
  width: 45px;
  height: 45px;
  @include breakpoint-down(mdsmall) {
    width: 30px;
    height: 30px;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 5rem;
  padding-inline: 1rem;
  &:focus {
    outline: none;
  }
  @include breakpoint-down(small) {
    margin-right: 0.7rem;
  }
  @include breakpoint-up(mdsmall) {
    margin-right: 1.5rem;
  }
  @include breakpoint-up(small) {
    margin-right: 2.5rem;
  }
  > span {
    display: block;
    width: 62px;
    height: 6px;
    background-color: var(--bg-color-accent-2);
    transition: transform 300ms ease-in-out, width 300ms ease-in-out,
      opacity 300ms ease-in-out;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @include breakpoint-down(mdsmall) {
      width: 42px;
      height: 4px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

.open {
  transition: transform 300ms ease-in-out 600ms, width 300ms ease-in-out 600ms,
    opacity 300ms ease-in-out 600ms;
  transform: rotate(45deg);
  :nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  :first-child,
  :last-child {
    transition: transform 300ms ease-in-out 300ms;
  }

  :first-child {
    transform: translateY(16px);

    @include breakpoint-down(mdsmall) {
      transform: translateY(9px);
    }
  }

  :last-child {
    transform: translateY(-16px) rotate(90deg);

    @include breakpoint-down(mdsmall) {
      transform: translateY(-9px) rotate(90deg);
    }
  }
}
