.main-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: $semitransparent;
  width: 100vw;
  height: 80px;
  top: 0;
  z-index: 1000000;
  box-shadow: 0 0 5px 1px $gray;
  @supports (backdrop-filter: initial) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

// Main links /////////////////////////////////////////////////////////////////////////////////////////////
.navlinks {
  position: relative;
  display: flex;
  justify-content: left;
  padding: 20px 20px;
  margin-left: 60px;
  list-style: none;
  @include breakpoint-down(large) {
    margin-left: 30px;
  }
}

a {
  text-decoration: none;
  color: $darkgray;
}

.mainlinks {
  font-size: $font-lrg;
  padding: 10px 25px;
  margin: -10px -25px;
  transition: color 300ms ease-in-out;
  &:hover {
    color: $cyan;
  }
}

.mainlinks::after {
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  height: 4px;
  border-radius: 8px;
  background-image: $gradient-to-right;

  width: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);

  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;

  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
}

.mainlinks.extended:first-child::after {
  -webkit-transform: scaleX(0.4);
  -ms-transform: scaleX(0.4);
  transform: scaleX(0.4);
  width: 100%;
}
.mainlinks.shortened:first-child::after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
}

.mainlinks.shortened:nth-child(2)::after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
}
.mainlinks.extended:nth-child(2)::after {
  -webkit-transform: scaleX(0.4);
  -ms-transform: scaleX(0.4);
  transform: scaleX(0.4);
  width: 100%;
}

.mainlinks.shortened:nth-child(3)::after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
}
.mainlinks.extended:nth-child(3)::after {
  -webkit-transform: scaleX(0.4);
  -ms-transfosrm: scaleX(0.4);
  transform: scaleX(0.4);
  width: 100%;
}

.mainlinks.shortened:last-child::after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
}
.mainlinks.extended:last-child::after {
  -webkit-transform: scaleX(0.4);
  -ms-transfosrm: scaleX(0.4);
  transform: scaleX(0.4);
  width: 100%;
}

.mainlinks.extended:hover::after,
.mainlinks.shortened:hover::after {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 100%;
}

.mail-link {
  margin-right: 80px;
  margin-left: auto;
  padding: 0 20px;
  @include breakpoint-down(large) {
    margin-right: 40px;
  }
}

.mail {
  margin-top: 10px;
  fill: url(#Solid);
  width: 45px;
  height: 45px;
  transition: all 70ms ease-in-out;
}

#Mailclose {
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
#Mailopen {
  margin-top: 10px;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}

.mail:hover {
  fill: url(#RadialGradient);
}

button {
  cursor: pointer;
}

.button {
  padding: 10px 30px;
  font-size: $font-lrg;
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: $white;
  border-radius: 40px;
  margin-right: 80px;
  margin-left: auto;
  background-image: $gradient-to-top;
  text-shadow: -1px 1px 2px $darkgray;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  @include breakpoint-down(large) {
    margin-right: 40px;
  }
  &.alt {
    margin: 0;
    padding: 10px 20px;
  }
  &.form {
    visibility: inherit;
    margin: 20px;
    @include breakpoint-down(mdsmall) {
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include height-breakpoint-down(small) {
      font-size: $font-med;
    }
  }
  &.gridbutton {
    @include breakpoint-down(small) {
      font-size: $font-smmed;
    }
  }
  &.dark {
    background: $dark-gradient;
    &.darkswitch {
      background: $dark-gradient-invert;
    }
    &:disabled {
      position: relative;
      border-top: 2px solid rgb(118, 118, 118);
      border-right: 2px solid rgb(33, 33, 33);
      border-bottom: 2px solid rgb(33, 33, 33);
      border-left: 2px solid rgb(118, 118, 118);
      &:hover {
        cursor: no-drop;
        box-shadow: none;
        text-shadow: none;
        &::after {
          content: attr(data-tooltip);
          width: 200%;
          font-size: $font-med;
          background: $darkgray;
          padding: 1rem;
          border-radius: 5px;
          display: inline-block;
          position: absolute;
          transform: translate(-50%, -100%);
          margin: 0 auto;
          color: $white;
          min-width: 100px;
          min-width: 150px;
          top: -5px;
          left: 50%;
          text-align: center;
          @include breakpoint-down(small) {
            width: 150%;
          }
        }
        &::before {
          content: " ";
          top: -5px;
          left: 50%;
          border: solid transparent;
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(0, 0, 0, 0);
          border-top-color: $darkgray;
          border-width: 5px;
          margin-left: -5px;
          transform: translate(0, 0);
        }
      }
    }
  }
}

.button:hover {
  -webkit-box-shadow: 0 0 5px $darkgray, 0 0 10px $darkcyan, 0 0 15px $cyan,
    0 0 20px $lightcyan;
  box-shadow: 0 0 5px $darkgray, 0 0 10px $darkcyan, 0 0 15px $cyan,
    0 0 20px $lightcyan;
  text-shadow: 0px 0px 2px $darkgray, 0px 0px 4px $cyan;
}

// Mobile nav bar ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.mobilecontainer {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 80px;
  top: 0;
  z-index: 2;
}

.logocontainer {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 80px;
  padding: 1rem;
  padding-bottom: 1.25rem;

  @include breakpoint-down(small) {
    margin-left: 20px;
  }
  @include breakpoint-up(small) {
    margin-left: 60px;
  }
}

.homelogo {
  fill: $darkgray;
  margin-right: auto;
  width: 30px;
  height: 30px;
  @include breakpoint-up(small) {
    width: 45px;
    height: 45px;
  }
}

.hamburger:focus {
  outline: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 80px;
  @include breakpoint-down(small) {
    margin-right: 20px;
  }
  @include breakpoint-up(small) {
    margin-right: 60px;
  }
  > span {
    display: block;
    width: 42px;
    height: 4px;
    background-color: $darkgray;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    @include breakpoint-up(small) {
      width: 62px;
      height: 6px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
@supports (will-change: transform) {
  .open {
    will-change: transform;
  }
}
.open {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  :nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  :first-child,
  :last-child {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  :first-child {
    -webkit-transform: translateY(16px);
    -ms-transform: translateY(16px);
    -o-transform: translateY(16px);
    transform: translateY(16px);

    @include breakpoint-down(small) {
      -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
      -o-transform: translateY(9px);
      transform: translateY(9px);
    }
  }

  :last-child {
    -webkit-transform: translateY(-16px) rotate(90deg);
    -ms-transform: translateY(-16px) rotate(90deg);
    -o-transform: translateY(-16px) rotate(90deg);
    transform: translateY(-16px) rotate(90deg);

    @include breakpoint-down(small) {
      -webkit-transform: translateY(-9px) rotate(90deg);
      -ms-transform: translateY(-9px) rotate(90deg);
      -o-transform: translateY(-9px) rotate(90deg);
      transform: translateY(-9px) rotate(90deg);
    }
  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}
