.overlay {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-image: linear-gradient(to bottom, $dark-gray, transparent);

  @supports (backdrop-filter: initial) {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  &.fadeout {
    -webkit-animation: simplefadeout 0.5s forwards;
    animation: simplefadeout 0.5s forwards;
  }

  &.fadein {
    height: 100vh;
    -webkit-animation: simplefadein 1s forwards;
    animation: simplefadein 1s forwards;
  }
}

.overlay-ul {
  visibility: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
  margin: 45px 45px;
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px var(--shadow-color);
  background-color: var(--semi-transparent);
  -webkit-transform: translateX(-130%);
  -ms-transform: translateX(-130%);
  transform: translateX(-130%);
  @include height-breakpoint-down(medium) {
    height: 69vh;
  }
  @include height-breakpoint-down(small) {
    height: 55vh;
    margin-top: 30px;
  }
  :first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  :last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  @media (prefers-reduced-motion: no-preference) {
    &.slideout {
      -webkit-animation: slideout 0.5s forwards;
      animation: slideout 0.5s forwards;
    }

    &.slidein {
      -webkit-animation: slidein 1s forwards;
      animation: slidein 1s forwards;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    &.slideout {
      -webkit-animation: simplefadeout 0.5s forwards;
      animation: simplefadeout 0.5s forwards;
    }
    &.slidein {
      -webkit-animation: simplefadein 1s forwards;
      animation: simplefadein 1s forwards;
    }
  }
}

.overlay-li {
  visibility: inherit;
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  height: 100%;
  width: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid var(--shadow-color);
  }
}

.overlay-links {
  visibility: inherit;
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--font-color);
  font-size: $font-lrgmed;
  @include breakpoint-down(small) {
    font-size: $font-lrg;
  }
  @include height-breakpoint-down(xsmall) {
    font-size: $font-medlrg;
  }
}
// Card ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contact-card {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
  margin-top: -86.2vh;
  height: 89.2vh;
  width: 100vw;
  -webkit-transform: translateX(-130%);
  -ms-transform: translateX(-130%);
  transform: translateX(-130%);
  @include height-breakpoint-down(small) {
    margin-top: -72.2vh;
    height: 77.2vh;
  }
  @include height-breakpoint-down(xsmall) {
    height: 67.2vh;
  }

  @media (prefers-reduced-motion: no-preference) {
    &.slideout {
      -webkit-animation: slideout 0.5s forwards;
      animation: slideout 0.5s forwards;
    }

    &.slidein {
      -webkit-animation: slidein 1s forwards;
      animation: slidein 1s forwards;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    &.slideout {
      -webkit-animation: simplefadeout 0.5s forwards;
      animation: simplefadeout 0.5s forwards;
    }
    &.slidein {
      -webkit-animation: simplefadein 1s forwards;
      animation: simplefadein 1s forwards;
    }
  }
}

.contact-card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--semi-transparent);
  height: 75%;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px var(--shadow-color);
}

.contact-header {
  text-align: center;
  font-size: $font-lrgmed;
  color: var(--font-color);
  font-weight: 400;
  padding: 0 1rem 4rem 1rem;
  @include breakpoint-down(medium) {
    font-size: $font-medlrg;
  }
  @include breakpoint-down(small) {
    font-size: $font-medlrg;
    margin-top: 0;
  }
  @include height-breakpoint-down(mdsmall) {
    padding-bottom: 2rem;
  }
  @include height-breakpoint-down(xsmall) {
    padding-bottom: 0rem;
  }
}

.signature-card {
  padding: 0;
}

.horizontal-flex {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  @include breakpoint-down(medium) {
    width: 15rem;
    padding-right: 0;
    padding-left: 0;
  }
  @include height-breakpoint-down(mdsmall) {
    width: 15rem;
  }
}

.card {
  height: 3.75rem;
  width: 3.75rem;
  margin: 0.5rem;
  fill: var(--url-1);
  transition: fill 150ms ease-in-out;
  &:hover {
    fill: url(#radial-gradient);
  }
  &.mail {
    padding-top: 5px;
  }
  @include breakpoint-down(medium) {
    height: 3rem;
    width: 3rem;
  }
  @include height-breakpoint-down(mdsmall) {
    height: 2.5rem;
    width: 2.5rem;
  }
}
