.overlay {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(2px);
  background-image: linear-gradient(to bottom,
      var(--shadow-color),
      transparent);

  &.fadeout {
    animation: simple-fade-out 500ms forwards;
  }

  &.fadein {
    animation: simple-fade-in 1s forwards;
  }
}

.overlay-menus-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.overlay-ul {
  cursor: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  max-height: 55vh;
  height: 70%;
  max-width: 90rem;
  width: auto;
  margin: 4rem 4rem;
  list-style: none;
  border-radius: 1rem;
  box-shadow: 0 0 5px 1px var(--shadow-color);
  background-color: var(--semi-transparent);
  transform: translateX(-130%);

  @include breakpoint-down(mdsmall) {
    margin: 4rem 2rem;
    max-height: 50vh;
  }

  @include breakpoint-up(large) {
    margin-inline: auto;
  }

  @include height-breakpoint-down(mdsmall) {
    margin: 2rem 4rem;
  }

  :first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  :last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media (prefers-reduced-motion: no-preference) {
    &.slide-out {
      animation: slide-out 500ms forwards;
    }

    &.slide-in {
      animation: slide-in 1s forwards;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &.slide-out {
      animation: simple-fade-out 500ms forwards;
    }

    &.slide-in {
      animation: simple-fade-in 1s forwards;
    }
  }
}

.overlay-li {
  visibility: inherit;
  transform: inherit;
  height: 100%;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid var(--shadow-color);
  }
}

.overlay-links {
  visibility: inherit;
  transform: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--font-color);
  font-size: $font-lrgmed;

  @include breakpoint-down(small) {
    font-size: $font-lrg;
  }

  @include height-breakpoint-down(xsmall) {
    font-size: $font-medlrg;
  }
}