.overlay {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-image: linear-gradient(to bottom, $darkgray, transparent);

  @supports (backdrop-filter: initial) {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  &.fadeout {
    -webkit-animation: simplefadeout 0.5s forwards;
    animation: simplefadeout 0.5s forwards;
  }

  &.fadein {
    height: 100vh;
    -webkit-animation: simplefadein 1s forwards;
    animation: simplefadein 1s forwards;
  }
}

.overlayul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
  margin: 45px 45px;
  list-style: none;
  border-radius: 20px;
  background-color: $moresemitransparent;
  box-shadow: 0 0 30px $gray;
  visibility: inherit;
  -webkit-transform: translateX(-130%);
  -ms-transform: translateX(-130%);
  transform: translateX(-130%);
  @include height-breakpoint-down(medium) {
    height: 69vh;
  }
  @include height-breakpoint-down(small) {
    height: 55vh;
  }
  :first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  :last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  @media (prefers-reduced-motion: no-preference) {
    &.slideout {
      -webkit-animation: slideout 0.5s forwards;
      animation: slideout 0.5s forwards;
    }

    &.slidein {
      -webkit-animation: slidein 1s forwards;
      animation: slidein 1s forwards;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    &.slideout {
      -webkit-animation: simplefadeout 0.5s forwards;
      animation: simplefadeout 0.5s forwards;
    }
    &.slidein {
      -webkit-animation: simplefadein 1s forwards;
      animation: simplefadein 1s forwards;
    }
  }
}

.overlayLi {
  visibility: inherit;
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  height: 100%;
  width: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid $whitish;
  }
}

.overlaylinks {
  visibility: inherit;
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $darkgray;
  font-size: $font-lrgmed;
  @include breakpoint-down(small) {
    font-size: $font-lrg;
  }
  @include height-breakpoint-down(xsmall) {
    font-size: $font-medlrg;
  }
}
// Card ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contactCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
  margin-top: -86.2vh;
  height: 89.2vh;
  width: 100vw;
  visibility: hidden;
  -webkit-transform: translateX(-130%);
  -ms-transform: translateX(-130%);
  transform: translateX(-130%);
  @include height-breakpoint-down(small) {
    margin-top: -72.2vh;
    height: 77.2vh;
  }
  @include height-breakpoint-down(xsmall) {
    margin-top: -73.2vh;
    height: 67.2vh;
  }

  @media (prefers-reduced-motion: no-preference) {
    &.slideout {
      -webkit-animation: slideout 0.5s forwards;
      animation: slideout 0.5s forwards;
    }

    &.slidein {
      -webkit-animation: slidein 1s forwards;
      animation: slidein 1s forwards;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    &.slideout {
      -webkit-animation: simplefadeout 0.5s forwards;
      animation: simplefadeout 0.5s forwards;
    }
    &.slidein {
      -webkit-animation: simplefadein 1s forwards;
      animation: simplefadein 1s forwards;
    }
  }
}

.contactCardBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $semitransparent;
  height: 75%;
  width: 80%;
  border-radius: 20px;
}

.contact-header {
  text-align: center;
  font-size: $font-lrgmed;
  color: $darkgray;
  font-weight: 400;
  padding-bottom: 4rem;
  @include breakpoint-down(medium) {
    font-size: $font-medlrg;
  }
  @include height-breakpoint-down(mdsmall) {
    padding-bottom: 2rem;
  }
  @include height-breakpoint-down(xsmall) {
    padding-bottom: 1rem;
  }
}

.horizontal-flex {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  @include breakpoint-down(medium) {
    width: 15rem;
  }
  @include height-breakpoint-down(mdsmall) {
    width: 15rem;
  }
}

.card {
  height: 4rem;
  width: 4rem;
  fill: url(#Solid2);
  transition: fill 300ms ease-in-out;
  &:hover {
    fill: url(#RadialGradient2);
  }
  &.github {
    padding-bottom: 0;
  }
  &.mail {
    margin-top: 0;
    padding-top: 3px;
  }
  @include breakpoint-down(medium) {
    height: 3rem;
    width: 3rem;
  }
  @include height-breakpoint-down(mdsmall) {
    height: 3rem;
    width: 3rem;
  }
}
