.portfolio {
  padding-top: 40px;
  margin-top: -40px;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(433px, 1fr));
  gap: 40px 40px;
  margin-bottom: 1.6rem;
  overflow: visible;
  @include breakpoint-down(small) {
    grid-template-columns: 1fr;
  }
}
.gridcell {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  max-width: 55.5rem;
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px $whitish;
}

.dorito {
  display: block;
  @include breakpoint-up(large) {
    display: inline;
    transform: rotate(-90deg);
  }
}

.heading {
  display: block;
  font-size: $font-lrgmed;
  font-weight: 600;
  @include breakpoint-down(large) {
    margin-bottom: 1rem;
  }
}

.projecttext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 55.5rem;
  font-size: $font-med;
  margin: 0px;
  margin-bottom: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px $whitish;
  @include breakpoint-up(large) {
    height: 100%;
  }
}

.buttoncontainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  @include breakpoint-up(small) {
    margin: 2rem 4rem 0 4rem;
  }
  @include breakpoint-up(medium) {
    margin: 2rem 2rem 0 2rem;
  }
  @include breakpoint-down(small) {
    margin: 1rem 0.75rem 0 0.75rem;
    justify-content: space-evenly;
  }
  @include breakpoint-down(xsmall) {
    margin: 0.5rem 0.15rem 0 0.15rem;
  }
}
