.portfolio {
  padding-top: 40px;
  margin-top: -40px;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(433px, 1fr));
  gap: 2rem 2rem;
  margin-bottom: 1.6rem;
  @include breakpoint-down(small) {
    grid-template-columns: 1fr;
  }
}

.grid-cell {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  max-width: 55.5rem;
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--bg-color-sub);
}

.dorito {
  display: block;
  fill: var(--url-5);
  @include breakpoint-up(large) {
    display: inline;
    transform: rotate(-90deg);
  }
}

.heading {
  display: block;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-width: 55.5rem;
  width: 100%;
  height: auto;
  font-size: $font-med;
  margin: 0px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--bg-color-sub);
  @include breakpoint-up(large) {
    height: 100%;
  }
}

.heading-text {
  font-size: $font-lrgmed;
  font-weight: 600;
  color: var(--font-color);
  @include breakpoint-down(large) {
    margin-bottom: 1rem;
  }
}

.button-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  @include breakpoint-up(small) {
    margin: 2rem 3rem 0 3rem;
  }
  @include breakpoint-down(small) {
    margin: 1rem 0.75rem 0 0.75rem;
    justify-content: space-evenly;
  }
  @include breakpoint-down(xsmall) {
    margin: 0.5rem 0.15rem 0 0.15rem;
  }
}
