.skills {
  padding-top: 40px;
  margin-top: -40px;
}

.skills-box {
  min-height: 51.4rem;
}

.skills-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
  @include breakpoint-down(small) {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(8rem, 1fr));
  }
}

.skills-grid-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint-up(medium) {
    transition: transform 150ms ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.skills-text {
  font-size: $font-med;
  font-weight: 300;
}

.skills-icon {
  border-radius: 5px;
  height: 5rem;
  width: auto;
  @include breakpoint-down(xsmall) {
    height: 4rem;
  }
}

.buttonsigndiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.signature {
  font-family: "Corinthia", cursive;
  font-size: $font-xlg;
  color: $darkgray;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
  @include breakpoint-down(small) {
    font-size: $font-lrg;
  }
}

.skills-line {
  border: 1px solid $lightgray;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
