$black: #000;
$darkergray: #1e2125;
$darkgray: #383d46;
$gray: #626875;
$darkcyan: #018bb5;
$lightcyan: #3bb1e0;
$cyan: #0ec7ff;
$lightercyan: #abd3d8;
$whitish: #cacccc;
$lightgray: #eaebed;
$white: #ffff;

$font-xlg: 3.25rem; //52px
$font-lrgmed: 2.25rem; //52px
$font-lrg: 1.5rem; //20px
$font-med: 1.125rem; //18px
$font-smmed: 1rem; //16px
$font-sm: 0.875rem; //14px
$font-xsm: 0.75rem; //12px
$font-xxsm: 0.625rem; //10px
$font-xxxsm: 0.5rem; //8px

$gradient-to-top: linear-gradient(to top, $darkcyan, $cyan);
$gradient-to-right: linear-gradient(to right, $darkcyan, $cyan);
$dark-gradient: linear-gradient(160deg, $gray 10%, $darkergray 100%);
$dark-gradient-invert: linear-gradient(320deg, $gray 0%, $darkergray 100%);
