$font-xxlg: 3.25rem; //52px
$font-xlg: 2.25rem; //36px
$font-lrgmed: 1.875rem; //30px
$font-lrgr: 1.5rem; //24px
$font-lrg: 1.333rem; //21.328px
$font-medlrg: 1.125rem; //18px
$font-med: 1rem; //16px
$font-smmed: 0.875rem; //14px
$font-sm: 0.75rem; //12px
$font-xsm: 0.625rem; //10px
$font-xxsm: 0.5rem; //8px
$font-xxxsm: 0.45rem; //6.4px

$black: #000;
$darker-gray: #1e2125;
$dark-gray: #383d46;
$gray: #616875;
$darker-cyan: #005673;
$dark-cyan: #018bb5;
$cyan: #0ec7ff;
$light-cyan: #5fcbf6;
$lighter-cyan: #86dcf9;
$grayish: #959ba7;
$whitish: #cacccc;
$light-gray: #eaebed;
$white: #ffff;

$semi-transparent: rgba(255, 255, 255, 0.88);
$more-transparent: rgba(255, 255, 255, 0.91);
$dark-semi-transparent: rgba(56, 61, 70, 0.88);
$dark-more-transparent: rgba(56, 61, 70, 0.91);
$darker-semi-transparent: rgba(30, 33, 37, 0.88);

$gradient-to-top: linear-gradient(to top, $dark-cyan, $cyan);
$gradient-to-right: linear-gradient(to right, $dark-cyan, $cyan);

$cyan-gradient: linear-gradient(160deg, $cyan -10%, $darker-cyan 100%);
$cyan-gradient-invert: linear-gradient(320deg, $cyan -10%, $darker-cyan 100%);

$dark-gradient: linear-gradient(160deg, $gray -30%, $darker-gray 100%);
$dark-gradient-invert: linear-gradient(320deg, $gray -30%, $darker-gray 100%);

$footer-gradient: linear-gradient(
  180deg,
  $whitish -20%,
  $grayish 17.5%,
  $grayish 82.5%,
  $dark-gray 140%
);

$box-shadow: 0 0 5px $dark-gray, 0 0 10px $dark-cyan, 0 0 15px $cyan,
  0 0 20px $light-cyan;
